<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to {{room.roomName}}</title>
	<link rel="stylesheet" href="/css/room.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var host = '{{config.host}}',
			messages = 	io.connect(host + '/messages'),
			roomId = '{{room._id}}',
			roomName = '{{room.roomName}}',
			roomNum = '{{room.roomNumber}}',
			userId = '{{user._id}}',
			userName = '{{user.fullName}}',
			userPic = '{{user.profileAvatar}}',
			page = 0;
		//add socket listen on connection
		
		
		messages.on('connect', function(){
			console.log('Connection Messages Established!!');
			messages.emit('joinroom', {roomId: roomId,room: roomNum, userName: userName, userPic: userPic});
		});
		messages.on('getMessagesHistory', function(data){
			var messages = JSON.parse(data);
			// for(var i = messages.length-1; i >= 0 ; i--){
			// 	updateMessageFeed(messages[i].chatUser_id.profileAvatar, messages[i].message);	
			// }
			if(messages[0] !== null && messages[0] !== undefined){
				$('#loadmore').show();
				for(var i = 0; i < messages.length; i++){
					updateMessageHistory(messages[i].chatUser_id.profileAvatar, messages[i].message);
				}
			}else{
				$('#loadmore').hide();
			}
		});
		messages.on('disconnect', function(){			
			messages.emit('outroom', {room: roomNum});
		});
		messages.on('messageFeed', function(data){
			var messages = JSON.parse(data);
			updateMessageFeed(messages.user.userPic, messages.message);
		});
		messages.on('typingFeed', function(data){
			var typing = JSON.parse(data);
			updateTypingFeed(typing.userPic, typing.typing);
		});
		messages.on('')
		$(document).on("click", "#loadmore", function(){
			console.log("LOADMORE CLICKED!");
			messages.emit('getMoreMessages', {roomId: roomId, offset: page});
			page++;
		});
		$(document).on('input paste',function(event){
			if($(event.target).hasClass('newmessage')){
		   	  console.log("abcd");
		   	  if((event.clipboardData || event.originalEvent.clipboardData) !== undefined){
				  var items = (event.clipboardData || event.originalEvent.clipboardData).items;
				  for (index in items) {
				    var item = items[index];
				    if (item.kind === 'file') {
				      var blob = item.getAsFile();
				      var reader = new FileReader();
				      reader.onload = function(event){
				        var pic = '<img src="'+event.target.result+'">';
				        messageEmit(roomNum, userName, userPic, pic);
				      };
				      reader.readAsDataURL(blob);
				    }
				  }
		   	  }
			}	  	
		});
		$(document).on('keyup', '.newmessage',function(e){
			var o = $(this);
			var message = o.val();
			if(e.which == 13 && message != ''){
				messageEmit(roomNum, userName, userPic, message);
			}
		})
		
		function messageEmit(roomNum, userName, userPic, message){
			var room = {
				"roomId": roomId,
				"roomNumber": roomNum,
				"roomName": roomName
			};
			var user = {
				"userId": userId,
				"userName": userName,
				"userPic": userPic
			};
			messages.emit('newMessage',{
				room: room,
				user: user,
				message : message
			});
			updateMessageFeed(userPic, message);
			$('.newmessage').val('');
		}
		function updateTypingFeed(userPic, typing){
			var str = '<li>';
				str +='<div class="msgbox">';
				str +=	'<div class="msgerpic"><div class="pic"><img src="' + userPic + '"></div></div>';
				str +=	'<div class="msg"><p>' + '...' + '</p></div>';
				str += '</div></li>';
				$(str).hide().appendTo($('.messages')).slideDown(100);
		}
		function updateMessageHistory(userPic, message){
			var str = '<li>';
				str +='<div class="msgbox">';
				str +=	'<div class="msgerpic"><div class="pic"><img src="' + userPic + '"></div></div>';
				str +=	'<div class="msg"><p>' + message + '</p></div>';
				str += '</div></li>'
				$(str).hide().prependTo($('.messages')).slideDown(100);
				//$('.rm-messages').delay(500).scrollTop($('.rm-messages')[0].scrollHeight);
				// setTimeout(function(){
				// 	$('.rm-messages').scrollTop($('.rm-messages')[0].scrollHeight);
				// }, 150);
		}
		function updateMessageFeed(userPic, message){
			var str = '<li>';
				str +='<div class="msgbox">';
				str +=	'<div class="msgerpic"><div class="pic"><img src="' + userPic + '"></div></div>';
				str +=	'<div class="msg"><p>' + message + '</p></div>';
				str += '</div></li>'
				$(str).hide().appendTo($('.messages')).slideDown(100);
				//$('.rm-messages').delay(500).scrollTop($('.rm-messages')[0].scrollHeight);
				setTimeout(function(){
					$('.rm-messages').scrollTop($('.rm-messages')[0].scrollHeight);
				}, 150);
		}

		messages.on('updateUserList', function(data){
			var userList = JSON.parse(data);
			var user = $('.users');
			user.html('');
			for(var i = 0; i<userList.length; i++){
				var flag = true;
				user.children().each(function(){
					var name = $(this).find('h5').html();
					if(name == userList[i].userName){
						flag = false;
					}
				})
				if(flag){
					var str = '<li><img src="' + userList[i].userPic + '"><h5>' + userList[i].userName + '</h5></li>';
					$(str).appendTo(user);
				}
			}
		});
		setInterval(function(){
			messages.emit('updateList', {room: roomNum});
		}, 15 * 1000);
	</script>
</head>
<body>
<div class="rm-container">
		<h1 class="rm-title">ChatCAT</h1>
		<div class="rm-userbox">
			<img src="{{user.profileAvatar}}" class="userPic">
			<h3 class="userName">{{user.fullName}} | <a href="/logout">Logout</a><a href="/chatrooms">More Chatrooms</a></h3>
		</div>
		<div class="rm-roomname">
			<h5>{{room.roomName}}</h5>
		</div>
		<div class="rm-messages">
			<div class="rm-loadmore" style="margin-top: 5px;text-align: center;">
				<a id="loadmore" href="#" style="font-size: 17px;font-weight: bold;text-decoration: underline;">
					Load more messages...</a>
			</div>
			<ul class="messages">
				<!-- <li>
					<div class="msgbox">
						<div class="pic"><img src="../public/images/profilepic.jpg">Sachin Bhatnagar</div>
						<div class="msg"><p>Hi there this looks nice !</p></div>
					</div>
				</li> -->
			</ul>
		</div>
		<div class="rm-users">
			<ul class="users">

			</ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter !">

		</div>
	</div>
</body>
</html>
